{
  "extends": [
    "eslint:recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": 0,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
